@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #212529;
  color: #f8f9fa;
}

.app-drag {
  -webkit-app-region: drag;
}

.app-no-drag {
  -webkit-app-region: no-drag;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #343a40;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #adb5bd;
}
